<!DOCTYPE html>
<!--
  Basic scriptogr.am theme
-->
<html lang="en">
  {% include head.html %}
  <body>
    <div class="wrapper">
      <div class="blog">
        <span style="font-family: Amatic SC; font-weight: 700; font-size: 62px; color: #383838; ">Notes in the Margins</span>
        <div id="menu">
      {{#pages}}
        <a href="{{permalink}}">{{title}}</a>
      {{/pages}}
      </div>
          <div class="container">
            {{ content }}
          <span style="font-size:small">©2014, Jake Belder. Disclaimer <a href="/paraphernalia">here</a>.</span>
        </div><!-- end container -->
      </div><!-- end blog -->
    </div><!-- end wrapper --> 
    {% include footer.html %}
  </body>
</html>                                                                                                                     
