<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Jake Belder</title>
  <meta name="description" content=“Jake is an Anglican ordinand and doctoral candidate in practical theology based in Durham. Use this page to contact him.”>
  <meta name="author" content=“Jake Belder“>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link href='//fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="https://dl.dropboxusercontent.com/u/3897986/Blog%20Start%20Page/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 15%">
        <h3>Jake Belder</h3>
        <p>Anglican ordinand and doctoral candidate in practical theology. Use the links below to get in touch.</p>
<span style="font-size:normal; color:#999"><p><a href="https://www.dur.ac.uk/theology.religion/postgrad/current.postgrads/?id=13747" target="_blank">Research</a> ⏐ <a href="http://blog.jakebelder.com" target="_blank">Blog</a> ⏐ <a href="http://twitter.com/jakebelder" target="_blank">Twitter</a> ⏐ <a href="http://instagram.com/jakebelder/" target="_blank">Instagram</a>  ⏐ <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#106;&#97;&#107;&#101;&#64;&#106;&#97;&#107;&#101;&#98;&#101;&#108;&#100;&#101;&#114;&#46;&#99;&#111;&#109;">Contact</a></span>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
