---
layout: default
---
<div class="post">
  <div class="content">
    <div class="title"><h3><a href="{{ page.url }}">{{ page.title }}</a></h3></div>
    <div class="body-page">
      {{content}}
      <!-- if tags -->
      {{#if_tags}}
      <ul class="tags">
        {{#tags}}
          <li><a href="{{site.baseurl}}/tag/{{name}}">{{name}}</a></li>
        {{/tags}}
      </ul>  
      {{/if_tags}}
      <!-- endif -->
    </div>
    <!--end body-->
  </div><!--end content-->
  <div class="clear"></div>
</div><!--end post-->
